body {
  min-height: 100%;
  font-family: Helvetica;
  font-size: 13px;  
  position: relative;
  padding: 0;
  margin: 0;
}

#see-from-beginning {
  position: absolute;
  bottom: 8px;
  z-index: 42;
  transform: translateX(-50%);
}

#debug {
  width: 420px;
  height: 420px;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

.container {
  // height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-items: center;
  // flex-basis: auto;
}

#sketch-holder {
  align-items: center;
  justify-content: center;
  // flex: 1;
  text-align: center;
  // flex-basis: auto;
  min-width: 400px;
  overflow: hidden;
}

#info-holder {
  display: none;
}

#show-info-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#charts-holder,
#age-charts-holder {
  margin: 0 20px 20px;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 20px;
  // flex-basis: auto;
  min-width: 400px;
  height: 420px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(230, 230, 230);
}

#age-charts-holder,
#charts-holder,
#debug-holder {
  overflow: hidden;
  background-color: rgb(247, 247, 247);
}

.charts {
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
}