<!DOCTYPE html>
<html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
<head>
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div>
    <div id="sketch-holder">
      <a id="show-info-btn">
        <i class="material-icons small">info</i>
      </a>
    
      <div id="info-holder" class="card-panel invisible">
        <a id="hide-info-btn">
          <i class="material-icons">close</i>
        </a>

        <div id="charts-holder">
          <div id="fitness-chart-holder">
            <div class="charts">
              <canvas id="perfChart" width="210" height="210"></canvas>
            </div>
          </div>

          <div id="age-chart-holder">
            <div class="charts">
              <canvas id="ageChart" width="210" height="210"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="lib/p5.collide2d.js"></script>
  </div>
</body>
</html>
